@font-face {
	font-family: SpaceGrotesk;
	src: url(../public/font/SpaceGrotesk-VariableFont_wght.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #daadff #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #8852f1;
}

*::-webkit-scrollbar-thumb {
	background-color: #daadff;
	border-radius: 15px;
	border: 2px solid #fff;
}
html {
	background: linear-gradient(
		282.9deg,
		#8a51ed -4.47%,
		#22163a 48.13%,
		#050509 88.83%
	);
	color: white;
}

.App {
	min-height: 88vh;
	max-width: 100vw;
	font-family: SpaceGrotesk;
}

.curve {
	position: absolute;
	top: 0;
}

.cursor {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	position: fixed;
	overflow: hidden;
	top: 0;
	pointer-events: none;
	z-index: 10;
}

.pic {
	margin-top: 15vh;
	height: 75vh;
	margin-bottom: 10vh;
	width: 57vh;
	border-radius: 16px;
}

.name {
	font-style: normal;
	font-weight: 700;
	/* color: #8a51ed; */
	color: rgba(255, 255, 255, 0.73);
}

.white {
	color: rgba(255, 255, 255, 0.73);
}

.restName {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 100px;
	color: rgba(255, 255, 255, 0.4);
}

.scrollBg {
	stroke: rgba(255, 255, 255, 0.5);
	opacity: 0.3;
}

.scrollBg {
	stroke: rgba(255, 255, 255, 0.5);
	opacity: 0.3;
}

.preview {
	min-width: 55%;
	/* scale: 0.9; */
	/* zoom: 0.75; */
	/* height: calc(100vh - 10rem); */
	margin-bottom: 2rem;
	margin-right: 2rem;
	border-radius: 20px;
	border: rgba(255, 255, 255, 0.107) 20px solid;
}

#progress {
	position: fixed;
	top: 20px;
	right: 20px;
	transform: rotate(-90deg);
}

#progress .scrollIndicator {
	stroke: rgba(255, 255, 255, 0.708);
}

circle {
	stroke-dashoffset: 0;
	stroke-width: 15%;
	fill: none;
}
